.App {
  display: flex;
  height: 100vh;
}

.SideBar {
  width: 200px;
  background-color: aqua;
}

.MemoContainer {
  flex: 1;
  background-color: lightpink;
}

.MemoContainer_title {
  width: 100%;
  font-size: 2rem;
}

.MemoContainer_content {
  width: 100%;
  min-height: 600px;
  font-size: 1.1rem;
}

.MemoContainer_title,
.MemoContainer_content {
  box-sizing: border-box;
}
